@()
<!doctype html>
<html ng-app="vsfi">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VSFI Admin app</title>
        <script src="@routes.Assets.versioned("javascripts/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-resource.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-route.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <script src="@routes.Assets.versioned("javascripts/admin/app.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="headerController">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">VSFI Admin App</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{active: isActive('/user')}"><a ng-click="users()" href="javascript:void(0);">
                        <i class="fa fa-home"></i>Пользователи</a></li>
                    <li ng-class="{active: isActive('/team')}"><a href="javascript:void(0);" ng-click="teams()"><i class="fa fa-shield"></i>Команды</a></li>
                    <li ng-class="{active: isActive('/task')}">
                        <a href="javascript:void(0);" ng-click="tasks()">
                            <i class="fa fa-comment"></i>Задания</a></li>
                    <li ng-class="{active: isActive('/solved')}">
                        <a href="javascript:void(0);" ng-click="solve()">
                            Зачтённые задания
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p><br/></p>
        <p><br/></p>
        <div id="main" class="container" ng-view>

        </div>

    </body>

</html>
