.terminal-line{
    margin:0;
    padding:0;
    white-space:pre-wrap;
    background-color:transparent;
    border: none;
    border-radius: 0;
}
.terminal {
    background-color:#000;
    height: 100%;
    color: #f6f5f3;
    font-family: monospace;
    overflow-x: hidden;
    overflow-y:hidden;
    font-size: 14px;
    line-height: 20px;
    position:relative;
}

.terminal-target{
    vertical-align:bottom;
    opacity:0;
    color:transparent;
    height:1px;
    width:1px;
}

.damn-ie .terminal-target{
    height:0;
    width:0;
}

.terminal-viewport {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding:0;
}

.terminal-cursor{
    visibility:visible;
}
.terminal-cursor-hidden{
    visibility:hidden;
}
.terminal-input{
    white-space:pre-wrap;
    overflow-wrap:break-word;
}
.terminal-result-line-server{
    margin-left:10px;
}

.vintage-terminal {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 83%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(83%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.65) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.65) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.65) 100%);
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
    border-radius: 20px;
    text-shadow: 0 0 6px rgba(255, 255, 255, .8);
    box-shadow: 0 0 20px rgba(217, 215, 255, 0.85) inset, 2px 2px 16px #000;
    transition: linear box-shadow .2s;
    padding:0;
}

.vintage-terminal .terminal-viewport {
    height: 94%;
    margin: 15px 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding:0;
}