<h2>Решенные задания</h2>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>№</th>
            <th>Название команды</th>
            <th>Название задания</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="solve in solved">
            <td>{{ solve.id }}</td>
            <td>{{ solve.username}}</td>
            <td>{{ solve.task }}</td>
            <td><a ng-click="deleteSolved(solve.id)" class="btn btn-small btn-danger">Удалить</a></td>
        </tr>
        </tbody>
    </table>
    <a ng-click="createNewSolved()" class="btn btn-small">Зачесть задание</a>
</div>