<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Зачесть задание</h3>
            <form novalidate="novalidate" class="form-horizontal">
                <div class="form-group">
                    <label for="inputTeam" class="control-label">Команда:</label>
                    <select class="form-control" id="inputTeam"  ng-model="solve.team" convert-to-number>
                        <option ng-repeat="team in teams" value="{{team.id}}">{{team.username}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputTask" class="control-label">Задание:</label>
                    <select class="form-control" id="inputTask"  ng-model="solve.task" convert-to-number>
                        <option ng-repeat="task in tasks" value="{{task.id}}">{{task.title}}</option>
                    </select>
                </div>
                <h3>Дополнительны баллы:</h3>
                <div class="form-group form-inline">
                    <label for="additionalDescription" class="control-label">Описание:</label>
                    <input type="text" class="form-control" id="additionalDescription" ng-model="adDescription">
                </div>
                <div class="form-group form-inline">
                    <label for="additionalScore" class="control-label">Баллы:</label>
                    <input type="text" class="form-control" id="additionalScore" ng-model="adScore">
                </div>
                <button ng-click="addAdScore()">Добавить дополнительные балы</button>

                <ul>
                    <li ng-repeat="adObject in adObjects">Score:{{adObject.score}}, {{adObject.description}}</li>

                </ul>

                <a ng-click="solveTask()" class="btn btn-small btn-primary">Зачесть задание</a>
            </form>
        </div>
    </div>
</div>