<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Задание</h3>
            <form novalidate="novalidate" class="form-horizontal">
                <div class="form-group">
                    <label for="inputTitle" class="control-label">Название задания:</label>
                    <input class="form-control" type="text" id="inputTitle" ng-model="task.title">
                </div>
                <div class="form-group">
                    <label for="inputText" class="control-label">Текст задания:</label>
                    <textarea class="form-control" id="inputText" ng-model="task.text"></textarea>
                </div>
                <div class="form-group">
                    <label for="inputScore" class="control-label">Баллы за задние:</label>
                    <input class="form-control" type="text" id="inputScore" ng-model="task.score">
                </div>
                <a ng-click="createNewTask()" class="btn btn-small btn-primary">Создать задание</a>
            </form>
        </div>
    </div>
</div>