<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Задание</h3>
            <form novalidate="novalidate" class="form-horizontal">
                <div class="form-group">
                    <label for="inputTitle" class="control-label">Название команды:</label>
                    <input class="form-control" type="text" id="inputTitle" ng-model="team.teamname">
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="control-label">Пароль:</label>
                    <input type="password" class="form-control" id="inputPassword" name="password"
                           ng-model="team.password">
                </div>
                <a ng-click="createNewTeam()" class="btn btn-small btn-primary">Создать команду</a>
            </form>
        </div>
    </div>
</div>