<div class="container">
    <div class="row">
        <div class="col-md-6">
    <h3>Пользователь</h3>
    <form novalidate="novalidate" class="form-horizontal">
        <div class="form-group">
            <label for="inputUsername" class="control-label">Имя пользователя:</label>
            <input class="form-control" type="text" id="inputUsername" ng-model="user.username">
        </div>
        <div class="form-group">
            <label for="inputPassword" class="control-label">Пароль:</label>
            <input class="form-control" type="password" id="inputPassword" ng-model="user.password">
        </div>
        <a ng-click="createNewUser()" class="btn btn-small btn-primary">Создать пользователя</a>
    </form>
        </div>
    </div>
</div>