<h2>Пользователи</h2>
<div>
<table class="table">
    <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>Администратор</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{ user.username}}</td>
            <td>{{ user.isAdmin | yesNo }}</td>
            <td><a ng-click="deleteUser(user.id)" class="btn btn-small btn-danger">Удалить</a></td>
        </tr>
    </tbody>
</table>
<a ng-click="createNewUser()" class="btn btn-small">Создать пользователя</a>
</div>