@(teamForm: Form[Team])

@import helper.twitterBootstrap._
@import helper._

    @implicitFieldConstructor = @{
        twitterBootstrap.twitterBootstrapFieldConstructor
    }

@main("Создание команды") {
    <h1>Создание команды</h1>

    @form(routes.Application.saveTeam()) {
        <fieldset>
            @inputText(teamForm("name"), '_label -> "Название команды")
            @inputText(teamForm("dnsIp"), '_label -> "IP адрес DNS сервера команды")
        </fieldset>
        <div class="actions">
            <input type="submit" value="Создать команду" class="btn btn-primary"> или
            <a href="@routes.Application.adminList()" class="btn">Отменить</a>
        </div>
    }
}