@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/editor.css")">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <div id="wrap">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">VSFI</a>
                </div>
            </div>
            <div class="container-fluid">
                @content
            </div>
            <div id="push"></div>
        </div>
        <div id="footer">
            <div class="container">
                <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a>
                    and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
            </div>
        </div>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/Markdown.Converter.js")"></script>
        <script src="@routes.Assets.at("javascripts/Markdown.Editor.js")"></script>
        <script src="@routes.Assets.at("javascripts/Markdown.Sanitizer.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
    </body>

</html>
